h1 {
    text-align: center;
}
#maincontainer {
    background-color: mediumpurple;

}
h3 {
    text-align: center;
}
.col-xs-12 {
    width: 100%; 
}

#brand{
    float:left;
}
.nav-link {
    text-align:center;
}


@media (min-width: 768px) {
    li {
        display: none;
    }
    .container {
        max-width: 90%;
    }
}
@media (max-width: 767px) {


    .container {
        max-width: 90%;
    }
}

@media (min-width: 1200px) {
    .navbar-toggler {
        display: none;
    }
    .container {
        max-width: 90%;
    }
}


@media (min-width: 992px) and (max-width: 1199px) {
    .navbar-toggler {
        display: none;
    }
    .container {
        max-width: 90%;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .navbar-toggler {
        display: none;
    }
    .container {
        max-width: 90%;
    }
}
