h1 {
    text-align: center;
}
#maincontainer {
    background-color: mediumpurple;
    margin-left:20px;
    margin-right:20px;
}
h3 {
    text-align: center;
}

#brand{
    float:left;
}
.nav-link {
    text-align:center;
}


@media (min-width: 575px) {
    li {
        display: none;
    }    
}

@media (min-width: 1200px) {
    .navbar-toggler {
        display: none;
    }
}


@media (min-width: 992px) and (max-width: 1199px) {
    .navbar-toggler {
        display: none;
    }
}


@media (min-width: 576px) and (max-width: 991px) {
    .navbar-toggler {
        display: none;
    }
}
